.ventanaModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContent {
  position: relative;
  background-color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;

  border: 5px solid #39bd8b;
}

.closeFullW {
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
}

.close {
  color: rgb(241, 70, 70);
  text-shadow: #000 3px 0px 4px;
  position: relative;
  right: 1rem;
  top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgb(255, 132, 132);
  text-decoration: none;
  cursor: pointer;
}

.close:active {
  color: rgb(200, 63, 63);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}

.modalNuevaTarea {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.h1NuevaTarea,
.h1EditarTarea {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2e926c;
  text-shadow: #212422d0 0px 1px 1px;
  align-self: center;
}

.h1NuevaTarea::after,
.h1EditarTarea::after {
  display: block;
  position: relative;
  content: "";
  width: 120%;
  border-bottom: 2px #2e926c solid;
  left: -10%;
  bottom: -0.3rem;
  height: 3px;
  
}

.nuevaTareaForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
  min-width: 16rem;
  width: 25rem;
  align-self: center;
}

.nuevaTareaForm label {
  font-size: 1.2rem;
  font-weight: 600;
}
.nuevaTareaForm input {
  font-size: 1rem;
  border: 2px solid #969696;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem 0.3rem;
  display: flex;
  align-items: center;
}
.nuevaTareaForm select {
  font-size: 1rem;
  border: 2px solid #969696;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem 0.3rem;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
}

.msgBtnNuevaTarea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuevaTareaButton {
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  background-color: #2e926c;
  color: rgb(255, 255, 255);
  border: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nuevaTareaButton:hover {
  background-color: #38ac7f;
}

.nuevaTareaButton:active {
  background-color: #2e926c;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

/*modal editar tarea*/

.modalEditarTarea {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.aceptarCancelarEdit {
  display: flex;
  justify-content: center;
}

.btnAceptarCambios {
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  background-color: #2e926c;
  color: rgb(255, 255, 255);
  border: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btnAceptarCambios:hover {
  background-color: #38ac7f;
}

.btnAceptarCambios:active {
  background-color: #2e926c;
}

@media (max-width: 1200px) {
  .modalContent {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .modalContent {
    width: 94%;
  }
}

@media (max-width: 500px) {
  .modalContent {
    width: 97%;
    /* border-left: none;
    border-right: none; */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .nuevaTareaButton {
    font-size: 1.2rem;
  }

  .modalEditarTarea {
    padding: 1rem;
  }

  .nuevaTareaForm {
    gap: 0.6rem;
    min-width: 16rem;
    width: auto;
    align-self: center;
  }
}
