@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap");

body {
  background-color: #e8ffd3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(208,960,468)'%3E%3Cstop offset='0' stop-color='%23E8FFD3'/%3E%3Cstop offset='1' stop-color='%2330FFAF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='622' height='518.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.main {
  background-color: #e8ffd3;
  width: 85vw;

  box-shadow: #0000004a 0.5rem 0.5rem 8px 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}

.header {
  height: 60px;
  background-color: #27b27d;
  grid-row: 1;
  grid-column: 1/3;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
  border-radius: 1rem 1rem 0 0;

  border-top: 2px solid #39bd8b;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.header-logo {
  display: flex;
  align-items: center;
  color: white;
}

.header-logo p {
  margin: 0;
  margin-left: 2rem;
  font-weight: 800;
  font-style: italic;
}

.header i {
  font-size: 2rem;
  margin-left: 1rem;
}

.main-content {
  grid-row: 2;
  grid-column: 1/3;
  background-color: rgb(240, 255, 250);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(80vh, auto) 1fr;

  -webkit-border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -ms-border-radius: 0 0 1rem 1rem;
  -o-border-radius: 0 0 1rem 1rem;
  border-radius: 0 0 1rem 1rem;
}

.menu {
  background-color: rgb(230, 245, 240);
  border-radius: 0 0 0 1rem;
  height: 100%;
  border-right: 1px solid #39bd8b;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.menu ul li {
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu ul li:hover {
  font-weight: 800;
}

.content {
  -webkit-border-radius: 0 0 1rem 0;
  -moz-border-radius: 0 0 1rem 0;
  -ms-border-radius: 0 0 1rem 0;
  -o-border-radius: 0 0 1rem 0;
  border-radius: 0 0 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tituloMas {
  margin: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 3rem;
}

.btnAgregarTarea {
  background-color: #27b27d;
  color: white;
  font-size: 3rem;
  padding: 0.5rem;
  
  width: 3rem;
  display: flex;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  
}

.btnAgregarTarea:hover div {
  
  animation-fill-mode: forwards;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.tareas {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 90%;
}

.tareas li {
  background-color: rgb(230, 245, 240);

  display: flex;
  align-items: center;
  justify-content: space-between;

  
  min-height: 2rem;
  position: relative;
  max-height: 10rem;
}

.tareas li:hover {
  border-bottom: #27b27d 2px solid;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.checkboxTodo {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.todoLeft {
  display: flex;

  height: 100%;
  align-items: center;
  margin: .5rem 0 .5rem .2rem;
  gap: 0.5rem;
}

.todoTitle {  
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-right: 0.3rem;
  -webkit-user-select: none;
  user-select: none;
}

.todoRight {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

.todoFecha {
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
}

.todoPriority {
  width: 56px;
  display: flex;
  justify-content: center;
  padding: .5rem;
 
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  color: white;
  text-shadow: black 2px 1px;
  font-weight: 600;
  
  -webkit-user-select: none;
  user-select: none;
}

.priorityBajo{
  background-color: #39bd8b;

}

.priorityMedio{
  background-color: #caca02;
}
.priorityAlto{
  background-color: #fa6b6b;
}


.editDeleteContainer {
  display: flex;
  height: 100%;
}

.editTodoContainer {
  background-color: #ffff92;
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.editTodoContainer:hover i{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.editTodoContainer i{
  pointer-events: none;
}

.deleteTodoContainer {
  background-color: #fe9393;
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.deleteTodoContainer:hover i{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.deleteTodoContainer i{
  pointer-events: none;
}

@media (max-width: 1200px) {
  .main {
    height: 100vh;
    width: 100vw;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-bottom: 0;
  }

  .header {
    font-size: 2rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  .header i {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .main-content {
    grid-template-rows: 1fr;
    border-radius: 0 0 0 1rem;
  }

  .menu {
    width: 300px;
    margin-bottom: -4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  .content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
  .main-content {
    grid-template-columns: 1fr;
  }

  .menu {
    grid-column: 0;
    display: none;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .todoPriority {
    width: 45px;
  }
}

@media (max-width: 500px) {
  .tituloMas {
    margin: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 2.5rem;
    margin-top: 2rem;
  }

  .tareas {
    width: 95%;
  }

  .tareas li {
    font-size: 0.8rem;
  }

  .btnAgregarTarea {
    width: 2rem;
    height: 2rem;
  }

  .todoLeft,
  .todoRight {
    gap: 0.3rem;
  }
}
